@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

html{
    font-family: 'Open Sans', sans-serif;
}


body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 100px;
width: 100%;
padding: 10px 200px;
margin-top: 30px;
}

.contacts-info{
    display: flex;
    align-items: center;
}
.contacts-info >article{
    margin: 0px 20px;
}

.contacts-info-phone{
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}
.contacts-info-email{
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}
.contacts-info-certificate{
    padding-right: 20px;
    
}

.contacts .text{
    margin-top: 0px;
    color: grey;
}
.contacts .info{
    margin-bottom: 0px;
    font-weight: bold;
}

.contacts-info .btn{
    background-color: #FFB600;
border: none;
width: 150px;
height: 40px;
color: white;
font-weight: bold;
font-size: 16px;
margin-left: 20px;
border-radius: 3px;
}

.contacts-img img{
    height: 40px;
}

.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #23282D;
    padding: 10px 200px;
color: white;
}
.menu ul{
    padding: 0px;
}

.menu li{
    list-style: none;
    padding: 0px 30px 0px 0px ;
   
}
.menu li a{
  text-decoration: none;
   color: white;
   font-weight: bold;
}
.menu li a.home{
    color: #FFB600;
    
}

.menu-options ul{
    display: flex;
}
.menu-search{
    color: grey;
}


.project{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.project h1{
    text-align: center;
    font-size:72px ;
font-weight:bolder;
margin: 5px;
}
.project p{
    text-align: center;
    font-size:16px ;
margin: 5px;

}

.building{
    display: flex;
    padding: 80px 250px;
    justify-content: space-between;
}
.building h1{
    font-size: 40px;
    margin-top: 0px;
}
.building .img{
    width: 66%;
}
.building .img img{
    width: 100%;
}
.building .details{
    width: 33%;
}
.building .text{
    margin-top: 57px;
    font-size: 14px;
    
}
.building .info{
    margin-bottom: 15px;
    color: grey;
    font-size: 14px;
}

.building .btn{
    background-color: #FFB600;
border: none;
width: 150px;
height: 40px;
color: white;
font-weight: bold;
font-size: 16px;
margin-left: 20px;
border-radius: 3px;
}

.details{
    margin-left: 30px;
}
.footer-menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 40px 100px;
    height: 400px;
}
.footer-menu h2{
    margin:20px 0px ;
    border-left: 4px solid #FFB600;
    color: white;
    padding: 0px 20px;
    font-weight: bold;
}
.about-us,.hours,.services{
    margin: 20px 60px;
    width: 28%;
}
.week,.saturday,.holydays{
    display: flex;
    justify-content: space-between;
}
.week p,.saturday p,.holydays p{
    margin: 5px;
}
.icons{
    display: flex;
}
.icons i{
    padding-right:40px;
    font-size: 30px;
}
.footer-menu article{
    margin:20px 0px;
}
.services ul{
    list-style: none;
    padding: 0px ;
}
.services li{
    list-style: none;
    padding: 10px;
}
.services i{
    padding-right:10px ;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background-color: #FFB600;
    height: 150px;
}
.copyright-list ul{
    display: flex;
    
}
.copyright-list ul li{
    list-style: none;
    margin: 20px;
    
}