<header>
  <section class="contacts">
    <article class="contacts-img">
      <img src="../../../assets/logo.png" alt="logo" />
    </article>
    <article class="contacts-info">
      <article class="contacts-info-phone">
        <p class="text">Call Us</p>
        <p class="info">(+9) 847-291-4353</p>
      </article>
      <article class="contacts-info-email">
        <p class="text">Email Us</p>
        <p class="info">sofia.knights@abv.bg</p>
      </article>
      <article class="contacts-info-certificate">
        <p class="text">FaceBook</p>
        <a class="info" href="https://www.facebook.com/afcsofiaknights">
          <i class="fab fa-facebook"></i> Sofia Knights</a
        >
      </article>
      <article class="contacts-info-certificate">
        <p class="text">Instagram</p>
        <a class="info" href="https://www.instagram.com/sofiaknightsafc/">
          <i class="fab fa-instagram"></i> Sofia Knights</a
        >
      </article>
      <app-button
        *ngIf="hasRoute('/')"
        color="{{ showAddTask ? 'orange' : 'black' }}"
        text="{{ showAddTask ? 'Home' : 'Add' }}"
        (btnClick)="toggleAddTask()"
      ></app-button>
    </article>
  </section>
  <section class="menu">
    <article class="menu-options">
      <ul>
        <li>
          <a [ngStyle]="{ color: hasRoute('/') ? '#FFB600' : 'white' }" href="/"
            >HOME
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/players') ? '#FFB600' : 'white' }"
            href="/players"
          >
            PLAYERS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/fixtures') ? '#FFB600' : 'white' }"
            href="/fixtures"
          >
            FIXTURES
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a href=""
            >TACTICS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a href=""
            >FEATURES
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/news') ? '#FFB600' : 'white' }"
            href="/news"
            >NEWS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a href="">CONTACT</a>
        </li>
      </ul>
    </article>
    <article class="menu-search">
      <i class="fas fa-search"></i>
    </article>
  </section>
</header>
