<article class="container">
  <section class="about">
    <h2>About Us</h2>
    <div class="text">
      <p>
        Sofia Knights is an american football club in Sofia, Bulgaria. We are
        founded in 2018.
      </p>
    </div>
    <div class="img">
      <img src="../../../../assets/champions_banner.png" alt="" />
    </div>
    <div class="text">
      <p>
        Currently we are the champions of Bulgaria. Holding the title undefeated
        last season.
      </p>
      <p>
        We also play international friendly matches. Our future goal is to stick
        up a good squad and play high european level of football. We want to
        make Bulgaria one of the best countries in Europe in terms of american
        football.
      </p>
    </div>
  </section>
  <section class="moto">
    <h2>Vertues</h2>
    <div class="text">
      <p>
        Since the founding of the club, we the members of Sofia Knights are
        proud to compete, teach and live following these vertues:
      </p>
    </div>
    <div class="vertues text">
      <div>
        <h3>Honor</h3>
        <p>Always say the truth. No cheater can truly win</p>
      </div>
      <div>
        <h3>Purity</h3>
        <p>Live with a clean sight and good intentions</p>
      </div>
      <div>
        <h3>Integrity</h3>
        <p>Be objective, just and persistent in your actions</p>
      </div>
      <div>
        <h3>Courage</h3>
        <p>Do not doubt. Hesitation is your worst enemy</p>
      </div>
    </div>
  </section>
  <section class="staff">
    <h2>Founders & Trainers</h2>
    <div class="list">
      <div class="person">
        <div class="img">
          <img src="../../../../assets/marto.png" alt="" />
        </div>
        <div class="text">
          <h3>Martin Doychev</h3>
          <p>Skill and Offence trainer</p>
          <p>Founder of Sofia Knights</p>

        </div>
      </div>
      <div class="person">
        <div class="img">
          <img src="../../../../assets/ivoks.png" alt="" />
        </div>
        <div class="text">
          <h3>Ivaylo Simov</h3>
          <p>Lineman and Defence trainer</p>
          <p>Founder of Sofia Knights</p>

        </div>
      </div>
      <div class="person">
        <div class="img">
          <img src="../../../../assets/emil.png" alt="" />
        </div>
        <div class="text">
          <h3>Emil Dimitrov</h3>
          <p>Founder of Sofia Knights</p>
        </div>
      </div>
    </div>
  </section>
</article>
