<div class="tactic">
  <div class="img">
    <img src="../../../assets/{{ tactic.pictureUrl }}" alt="player profile" />
  </div>
  <div class="details">
    <h1>
      {{ tactic.name }}
    </h1>
    <div class="row">
      <p class="text">Type</p>
      <p class="info">{{ tactic.type }}</p>
    </div>
    <div>
      <div class="row">
        <p class="text">Formation</p>
        <p class="info">{{ tactic.formation }}</p>
      </div>
      <div class="row">
        <p class="text">Concept</p>
        <p class="info">{{ tactic.concept }}</p>
      </div>
    </div>
    <div>
      <div class="description">
        <p class="text">Description</p>
        <p class="info" [innerHTML]="tactic.description"></p>
      </div>
      <div class="row">
        <app-button
          color="#FFB600"
          text="Go Back"
          (btnClick)="onBack()"
        ></app-button>
        <app-button
          *ngIf="isUserAdmin"
          color="#4869e9"
          text="Update"
          (btnClick)="onUpdate()"
        ></app-button>
        <app-button
          *ngIf="isUserAdmin"
          color="red"
          text="Delete"
          (btnClick)="onDelete(tactic)"
        ></app-button>
      </div>
    </div>
  </div>
</div>
