<header>
{{toggleButtons()}}
  <section class="contacts">
    <article class="contacts-img">
      <img src="../../../../assets/logo.png" alt="logo" />
    </article>
    <article class="contacts-info">
      <article class="contacts-info-phone">
        <p class="text">Call Us</p>
        <p class="info">(+9) 847-291-4353</p>
      </article>
      <article class="contacts-info-email">
        <p class="text">Email Us</p>
        <p class="info">sofia.knights@abv.bg</p>
      </article>
      <article class="contacts-info-certificate">
        <p class="text">FaceBook</p>
        <a class="info" href="https://www.facebook.com/afcsofiaknights">
          <i class="fab fa-facebook"></i> Sofia Knights</a
        >
      </article>
      <article class="contacts-info-certificate">
        <p class="text">Instagram</p>
        <a class="info" href="https://www.instagram.com/sofiaknightsafc/">
          <i class="fab fa-instagram"></i> Sofia Knights</a
        >
      </article>
      <app-button
        *ngIf="!isUserAuthenticated"
        color="orange"
        text="Login"
        (btnClick)="login()"
      ></app-button>
      <app-button
        *ngIf="!isUserAuthenticated"
        color="orange"
        text="Register"
        (btnClick)="register()"
      ></app-button>
      <app-button
        *ngIf="isUserAuthenticated"
        color="orange"
        text="Log out"
        (btnClick)="logout()"
      ></app-button>
    </article>
  </section>
  <section class="menu">
    <article class="menu-options">
      <ul>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/') ? '#FFB600' : 'white' }"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/players') ? '#FFB600' : 'white' }"
            [routerLink]="['/players']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            PLAYERS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/fixtures') ? '#FFB600' : 'white' }"
            [routerLink]="['/fixtures']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FIXTURES
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/news') ? '#FFB600' : 'white' }"
            [routerLink]="['/news']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >NEWS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/awards') ? '#FFB600' : 'white' }"
            [routerLink]="['/awards']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            AWARDS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li
        *ngIf="isUserAuthenticated">
          <a
           href=""
            >TACTICS
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li
        *ngIf="isUserAuthenticated">
          <a
            [ngStyle]="{ color: hasRoute('/privacy') ? '#FFB600' : 'white' }"
            [routerLink]="['/privacy']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >PRIVACY
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <li>
          <a
            [ngStyle]="{ color: hasRoute('/about') ? '#FFB600' : 'white' }"
            [routerLink]="['/about']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            ABOUT US
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
      </ul>
    </article>
    <article class="menu-search"></article>
  </section>
</header>
