.player {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .img {
    border: 5px solid green;
    height: 250px;
    width: auto;
  }
  
  .player h3 {
    font-size: 24;
    font-weight: bold;
    color: darkorange;
    text-shadow: 5px black;
  }
  .row
  {
    margin: 5px 20px;
    padding: 20px 5px;
    
  }
  .row.property
  {
    font-weight: bold;
  }
  .row.info
  {
    font-weight: lighter;
  }