.add-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-form .column
{
    margin: 20px;
    width: 40%;

}
.form-control{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
}
.form-control label{
    font-size: 30px;
}
.form-control input{
    font-size: 20px;
    
    resize: vertical;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.btn{
    background-color: #4869e9;
  border: none;
  width: 150px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  }
  .buttons input{
margin: 20px;
  }