<footer>
  <section class="footer-menu">
    <article class="about-us">
      <h2>ABOUT US</h2>
      <article class="img">
        <img src="../../../../assets/logo.png" alt="logo" />
      </article>
      <p>
        Sofia Knights is a american football club in Bulgaria, founded in 2018.
        The club is the current champion of Bulgaria. Their goal is to create a
        strong community in the country and play on international level.
      </p>
      <article class="icons">
        <a href="https://www.facebook.com/afcsofiaknights"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/sofiaknightsafc">
          <i class="fab fa-instagram"></i
        ></a>
      </article>
    </article>
    <article class="hours">
      <h2>TRAINING HOURS</h2>
      <p>
        We train on weekly basis. Do not hesitate to join us. First month is
        free.
      </p>
      <p>The location:</p>
      <p>Akademik Sports Complex</p>

      <article class="week">
        <p>Monday:</p>
        <p>20:30 - 23:00</p>
      </article>
      <article class="saturday">
        <p>Wednesday:</p>
        <p>20:30 - 23:00</p>
      </article>
      <article class="holydays">
        <p>Fryday:</p>
        <p>20:00 - 22:30</p>
      </article>
    </article>
    <article class="services">
      <h2>RECRUITING</h2>
      <p>
        We search for all types of players. There is no limitation of height and
        weight. Every person with us have a spot where he belongs
      </p>
      <p>If you are one of these, come and join the round table:</p>
      <ul>
        <li>
          <i class="fas fa-angle-right"></i
          ><span>Big man ready to use his weight for his advantage</span>
        </li>
        <li>
          <i class="fas fa-angle-right"></i
          ><span>Agile sprinter who likes to be the star of the show</span>
        </li>
        <li>
          <i class="fas fa-angle-right"></i
          ><span>Short and explosive with a lions hearth</span>
        </li>
      </ul>
    </article>
  </section>
  <section class="copyright">
    <article>
      Copyright © 2021, Designed by Themefisher, Developed by IvanDochev04
    </article>

    <article class="copyright-list">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/tactics">Tactics</a></li>
        <li><a href="/fixtures">Fixtures</a></li>    
        <li><a href="/about">About</a></li>
      </ul>
    </article>
  </section>
</footer>
